<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button (click)="playNgAnimations(false)" mat-raised-button color="accent">Animer une fois</button>
  <button (click)="playNgAnimations(true)" mat-raised-button color="accent">Animer en boucle</button>
  <div [@shake]="first" class="square" style="background-color: red;"></div>

  <div [@bounce]="second" class="square" style="background-color: green;"></div>

  <div [@tada]="third" class="square" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button (click)="rotateCube()" mat-raised-button color="accent">Faire tourner</button>
  <div [class.rotate-left]="rotate" class="square" style="background-color:orange;"></div>
</div>
